@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}
@model e_comm.ViewModels.HomePage.HomePageIndexVM

    

       
         

    <!DOCTYPE html>
    <html>
    <head>
        <title>Home Page</title>
        <link href="../css/HomePage/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <script src="../js/HomePage/jquery.min.js"></script>

        <link href="../css/HomePage/style.css" rel="stylesheet" type="text/css" media="all" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


        <link href="../css/HomePage/memenu.css" rel="stylesheet" type="text/css" media="all" />



    </head>
    <body>
        <!--header-->
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="search">
                        <form asp-action="Search" asp-route-modelB="@Model" asp-route-modelP="@Model" >
                            <input type="text" placeholder="Search" asp-for="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search';}">
                            <input type="text" style="display:none;" value="@Model.logged" asp-for="loggedString">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                    <div class="header-left">
                        <ul>
                            @if (Model.logged==false)
                            {
                                <li><a asp-controller="Login" asp-action="Index">Login</a></li>
                                <li><a asp-controller="Registration" asp-action="Index">Register</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Login" asp-action="Logout">Log out</a></li>
                                
                            }                          
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="container">
                <div class="head-top">
                    <div class="logo">
                        <a href="index.html"><img src="../images/HomePage/logo.png" alt=""></a>
                    </div>
                    <div class=" h_menu4">
                        <ul class="memenu skyblue">
                            <li class="active grid"><a class="color8" href="index.html">Home</a></li>
                            <li><a class="color1" asp-controller="HomePage" asp-action="ProductListing" asp-route-GenderId="1" asp-route-logged="@Model.logged">Men</a></li>
                            <li class="grid">
                                <a class="color1" asp-controller="HomePage" asp-action="ProductListing" asp-route-GenderId="2" asp-route-logged="@Model.logged">	Women</a>
                            </li>
                            <li><a asp-action="BrandListing" asp-route-logged="@Model.logged" class="color1">Brands</a></li>
                            <li><a class="color1" asp-action="ContactUs" asp-route-logged="@Model.logged">Get in touch</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="container">


                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <div class="banner-text">
                                <h3>The biggest online shop for everyone </h3>
                                <p>We care about our customers!</p>
                                <a href="single.html">Shopping now</a>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!--content-->
        <div id="special2" class="content">
            <div id="special" class="container">
                <div class="content-top">
                    <h1>SALE UP TO 70%</h1>
                    <div class="grid-in">


                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[0].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>40% OFF</span>
                                    </h3>
                                </div>
                            </a>


                            <p><a href="single.html">Buy now</a></p>
                        </div>
                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[1].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>30% OFF</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="single.html">Buy now</a></p>
                        </div>
                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[2].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>55% OFF</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="single.html">Buy Now</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="grid-in">
                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[3].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>70% OFF</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="single.html">Buy now</a></p>
                        </div>
                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[4].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>20% OFF</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="single.html">Buy now</a></p>
                        </div>
                        <div class="col-md-4 grid-top">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="@Model.Rows[5].Route" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>20% OFF</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="single.html">Buy now</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            </div>
            <div class="footer">
                <div class="container">
                    <div class="footer-top-at">

                        <div class="col-md-4 amet-sed">
                            <h4>MORE INFO</h4>
                            <ul class="nav-bottom">
                                <li><a href="contact.html">Mans</a></li>
                                <li><a href="#">Womans</a></li>                                
                                <li><a href="#">Home</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 amet-sed ">
                            <h4>CONTACT US</h4>

                            <p>
                                Say hello whenever you want!
                            </p>
                            <p class="special3">Send an email to: eklinika22@outlook.com <i class="fas fa-at"></i></p>


                            <p>Phone number: +38762 244 806 <i class="fas fa-phone-square"></i></p>

                        </div>
                        <div class="col-md-4 amet-sed">
                            <h4>Newsletter</h4>
                            <p>
                                Sign Up to get all news update
                                and promo
                            </p>
                            <form>
                                <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                                <input type="submit" value="Sign up">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            </div>
    </body>
</html>
